{% extends 'base.html.twig' %}

{% block title %} Yatzy {% endblock %}

{% block body %}

{% if section < 7 %}
{% if userName != " " %}
<h3>Spelare: {{ userName }}</h3>
{% endif %}
<div class="rules">
<h4>Regler:</h4>
<ul>
  <li>Klicka i de tärningar du vill spara.</li>
  <li>Du får kasta tärningarna 3 gånger per omgång.
  Nu har du kastat {{ rounds }} gång/gånger.</li>
</ul>
</div>
<h1>Samla på {{ section }}:or</h1>
<br>
<p>
    {% for value in listOfDices %}
        <i class="dice-sprite {{ value }}"></i>
    {% endfor %}
</p>
{% endif %}



{% if (rounds < 3) and (section < 7) %}
    <form method="POST">
        <input type="checkbox" id="diceOne" name="diceOne" value="diceOne">
        <input type="checkbox" id="diceTwo" name="diceTwo" value="diceTwo">
        <input type="checkbox" id="diceThree" name="diceThree" value="diceThree">
        <input type="checkbox" id="diceFour" name="diceFour" value="diceFour">
        <input type="checkbox" id="diceFive" name="diceFive" value="diceFive">
        <br>
        <br>
        <br>
        <input type="submit" name="btn" value="Slå igen!">
    </form>
    <h3 class="score">Poäng: {{ scoreYatzy }}</h3>
{% elseif (rounds == 3) and (section < 6) %}
<form method="POST">
        <input type="submit" name="btn" value="Slå igen!">
    </form>
    <h3 class="score">Poäng: {{ scoreYatzy }}</h3>
{% endif %}

{% if (rounds == 3) and (section == 6) %}
    <form method="POST">
        <input type="submit" name="btn" value="Resultat!">
    </form>
{% endif %}

{% endblock %}
